@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400&family=Libre+Baskerville:wght@400;700&family=Lobster&family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  color: #1c1d1f;
  height: 100vh;
  width: 100%;
}
* a {
  text-decoration: none;
}

/* --------- NAV BAR -------- */
.nav-container {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-height: 100px;
  overflow: scroll;
}
.full_nav {
  margin: 0 auto;
  width: 98%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}
.logo {
  display: inline-block;
  max-width: 100px;
}
.logo > img {
  max-width: 8%;
  min-width: 100px;
}
.flex {
  display: flex;
  align-items: center;
}
.icons-n-btns {
  padding-left: 0;
  list-style: none;
  gap: 8px;
  align-items: center;
}
.nav-link {
  color: #000;
  font-size: 0.875rem;
}
.nav-link:hover {
  color: #8600e0;
}
.nav_btns,
.languages-btn,
.courses_btn,
.featured-btn {
  border: 1px solid #1c1d1f;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 16px;
  white-space: nowrap;
}
.languages-btn {
  padding: 3px 6px;
}
.logIn-btn,
.languages-btn,
.courses_btn {
  background-color: #fff;
  color: #000;
}
.signUp-btn {
  color: #fff;
  background-color: #1c1d1f;
}
.logIn-btn:hover,
.languages-btn:hover,
.courses_btn:hover {
  background: #f7f9fa;
}
.cart-link {
  padding: 10px;
}
/* ----first tooltip---- */
.first_tooltip_main {
  position: relative;
  display: inline-block;
}
.first_tooltip_main .first_tooltiptext {
  display: none;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute; /* Position the tooltip */
  z-index: 1;
  top: 250%;
  left: 70%;
  margin-left: -60px;
}
.first_tooltip_main:hover .first_tooltiptext {
  display: inline-block;
}

/* two right toolitps */
.right_tooltip {
  position: relative;
  display: inline-block;
}

.right_tooltip .r_tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 250%;
  right: 50%;
  margin-right: -60px;
}
.right_tooltip:hover .r_tooltiptext {
  display: inline-block;
}
/* //////////////// */

/* ----Search Input--- */
.input-control {
  flex-grow: 1;
  border: 1px solid #000;
  height: 50px;
  border-radius: 30px;
  max-width: 550px;
  background: #f7f9fa;
  padding-left: 10px;
}
.input-control > input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
}
.grey_icon {
  color: gray;
}
/* --------- HERO SECTION ---------*/
.hero {
  background-color: #f7f9fa;
  background: url(../images/landing_section_background.jpeg);
  background-size: 100% cover;
  height: 60vh;
  margin: 0 16px;
}
.container {
  border: none;
  width: 95%;
  margin: 0 auto;
  padding-top: 55px;
}
.content-header {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 35%;
  font-family: "Libre Baskerville", serif;
  padding: 10px 18px;
  margin: 0 0 0 10px;
}
.hero_h1 {
  font-size: 2rem;
}
.hero_h2 {
  font-size: 1rem;
  font-weight: 200;
}

/* ------- Section ONE ----- */
.heading {
  font-family: "Libre Baskerville", serif;
  width: 75%;
}
.courses_h2 {
  font-size: 1.875rem;
  margin-top: 0;
}
.courses_h3 {
  font-weight: 100;
}
.sub_h3 {
  font-size: 1.45rem;
  margin-bottom: 0;
}
.sub_h4 {
  font-weight: 400;
  margin-top: 8px;
}
.heading2 {
  width: 65%;
  padding-left: 32px;
}
.cards_in_slide {
  border: 1px solid #d1d7dc;
  margin-top: 18px;
}
.courses_tabs {
  display: flex;
  gap: 20px;
  padding-left: 32px;
}
a.tab_links {
  color: #6a6f73;
  font-weight: 700;
}
a.tab_links:hover {
  color: #000;
}
a.active-link {
  color: #000;
}
.cards_wrap {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(240px, 1fr));
  gap: 15px;
  overflow: auto;
}
.w-95 {
  width: 95%;
}
.card-title {
      margin: 0 0 2px 0;
}
.p-0 {
      padding:3px 0 !important;
}
.rating {
      gap: 2px;
}
.price {
      gap: 4px;
      font-size: 0.875rem;
}
.price-text {
      font-weight: 700;
}
.rating-v {
      padding: 1px 0;
      font-weight: 700;
      font-size: 0.85rem;
}
.img {
      border:1px solid #6a6f73;
      height: 132.75px;
}
.img > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.card,
.cards2 {
  border: 1px solid;
}
.course_cards_two {
  margin-top: 3.5rem;
}
/* ------- section one ends----- */

/* ------- Section TWO ----- */
.cards-wrap2 {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.label {
  font-weight: 700;
  display: block;
  padding: 6px;
}
/* MEDIA Queries */
@media (max-width: 600px) {
  .cards-wrap2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .companies {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .companies > div {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
@media (max-width: 56.25em) {
  .cards-wrap2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* MEDIA Queries ends*/

.image_wrap {
  height: 300px;
}
.image_wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- SECTION THREE ------- */
.featured {
  background-color: #f7f9fa;
  padding-bottom: 55px;
}
.w-80 {
  width: 80%;
}
.featured-wrap {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
ul.featured-items,
ul.footer-items {
  padding-left: 0;
  list-style: none;
}
ul.featured-items > li,
ul.footer-items > li {
  margin-bottom: 16px;
}
ul.featured-items a {
  color: #8600e0;
  text-decoration: underline;
  font-weight: 700;
}
ul.featured-items a:hover {
  color: #5e019b;
}
.gray-text {
  display: block;
  color: #6a6f73;
  font-size: 0.875rem;
  padding: 0.75rem 0;
}
.f_sub_h4 {
  margin: 0;
}
.featured-btn:hover {
  background-color: #f1f0f0;
}

/* SECTION FOUR */
.instructor,
.trusted,
.business {
  background-color: #fff;
  padding-bottom: 55px;
}
.w-60 {
  width: 80%;
  padding: 20px 0;
}
.flex-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.flex-center {
  align-self: center;
}

/* SECTION FIVE */
.trusted {
  text-align: center;
  background-color: #f7f9fa;
}
.marginx-auto {
  margin: 0 auto;
}
.companies {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
/* SECTION 6 */
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 50px;
  width: 80%;
}
.flex-item2 {
  flex-basis: 45.5%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo2 > img {
  max-width: 70%;
  min-width: 150px;
  vertical-align: baseline;
}
.ubusi-padding {
  padding: 0 20px 20px;
}
p.margin-b {
  margin-top: 0;
  margin-bottom: 20px;
}

/*  FOOTER Section */
.footer {
  background-color: #1c1d1f;
  color: #d1d7dc;
  font-size: 0.875rem;
  position: relative;
  bottom: 0;
  padding-bottom: 50px;
}
a.line-hover {
  color: #d1d7dc;
  font-size: 0.875rem;
  font-weight: normal;
  text-decoration: none;
}
a.line-hover:hover {
  text-decoration: underline;
}
.footer_btn {
  width: 150px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 16px;
  white-space: nowrap;
  background-color: #1c1d1f;
}
.footer_btn:hover {
  background-color: #282a2dab;
}
.gold-star {
      color: #F68127;
}
/* color: #F68127; */